.Header {
  background-color: #d32323;
  margin-bottom: 50px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
}

#logo {
  font-size: 25px;
  cursor: pointer;
  float: left;
  margin: auto;
  margin-left: 10px;
}

#rightSide {
  float: right;
}

#leftSide {
  margin-left: 60px;
  width: 70%;
  float: left;
  padding-right: 30px;
}

FlatButton {
  text-transform: none;
}

